<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mi Primera Web</title>
	<link rel="stylesheet" href="../styles/style.css">
</head>
<body>
	<main>
		<header>
			<h1>Mi Primera Web</h1>
		</header>
		<nav>
			<a href="../index.html">Quien Soy</a>
			<a href="hobbies.html">Qué me gusta hacer</a>
			<a href="familia.html">Mi familia</a>
		</nav>
		<section>
			<h2>Esta es mi familia</h2>
			<p>Mi nombre es Henry y en este espacio podrás encontrar un poco sobre mi</p>
			<img src="../assets/images/familia.jpeg" alt="Familia">
		</section>
	</main>
	<footer>
		<p>Página realizada por Henry A. Falla O. &copy;Todos los derechos reservados 2024</p>
	</footer>
</body>
</html>