*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: lightskyblue url(https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-147801.jpg);
	/* background-color: lightskyblue;
	background-image: url(../assets/images/familia.jpeg);
	background-repeat: repeat;
	background-position: -100px; */
	/* background-size: cover; */
}

main{
	background: white;
	width: 800px;
	border-radius: 15px;
	margin: 20px auto;
	padding: 20px;
	box-shadow: 5px 5px 10px #000;
}

h1{
	color:black;
	font-size: 50px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Geneva, Tahoma, sans-serif, Courier, monospace;
}

img{
	width: 200px;
	/* height: 300px; */
}

span{
	color: #261C00;
	font-size: 20px;
	font-weight: bold;
	text-decoration:overline;
	text-transform: uppercase;
}

a{
	text-decoration: none;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}

a:hover{
	background: #000;
	color: #FFF;
}

section{
	margin: 20px 0 0 0;
}

nav{
	margin: 20px 0;
}

footer{
	text-align: center;
	background-color: #000;
	color: #FFF;
	padding: 20px;
}

div{
	text-align: center;
}

/* Identificadores */
#bienvenida{
	background-color: chocolate;
	border: 1px solid #000;
	padding: 10px;
	font-size: 20px;
	color: #FFF;
}


/* Clases */
.bienvenida{
	background-color: aqua;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 20px;
	font-size: 10px;
	color: #000;
}